<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <title>Partidos</title>
</head>
<body>

    <div class="contenido-principal">

        {% block titulo %}

        <h1>Partidos Del {{ fecha_bonita }}</h1>

        {% endblock titulo %}

        <button id="toggle-navbar" class="toggle-button">
            <img src="{{ url_for('static', filename='imagenes/hamburguesa.png') }}" alt="Hamburguesa Icon" width="18" height="18">
        </button>

        <div class="navbar" id="navbar">
            <ul>
                <li><a href="/">Hoy</a></li>
            </ul>
        </div>

        {% block principal %}

        {% if partidos %}

            <div class="contenedor-tabla">
                <table class="tabla-partidos">
                    <thead>
                        <tr>
                            <th>Competicion</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Local</th>
                            <th>Resultado</th>
                            <th>Visitante</th>
                            <th>Publico</th>
                            <th>Sede</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partido in partidos %}
                            <tr>
                                <td>{{ partido[0] }}</td>
                                <td>{{ partido[2] }}</td>
                                <td>{{ partido[3] }}</td>
                                <td>{{ partido[4] }}</td>
                                <td>{{ partido[5] }}</td>
                                <td>{{ partido[6] }}</td>
                                <td>{{ partido[7] }}</td>
                                <td>{{ partido[8] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}

            <p class="btn-no-partidos">No hay partidos este dia</p>

        {% endif %}

        <div class="contenedor-botones">
            <a href="/?fecha={{ dia_anterior }}" class="boton-anterior"><< Día Anterior</a>
            <a href="/?fecha={{ dia_siguiente }}" class="boton-siguiente">Día Siguiente >></a>
        </div>

        {% endblock principal %}

    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

    <footer>
        <p>&copy; 2024 Partidos App. Todos los derechos reservados.</p>
    </footer>

</body>
</html>